<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form name="searchForm" class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
            <!--This input uses required and pattern to validate user input. The required makes
            it mandatory to enter something, and the pattern makes it so that you have to
            enter at least one non-whitespace character. The title is added to provide the
            user feedback on what needs to be changed if they get an error-->
            <input
                    class="form-control mr-sm-2"
                    name="term"
                    type="text"
                    placeholder="Search"
                    aria-label="Search"
                    required
                    pattern=".*\S+.*"
                    title="Must contain at least one non-whitespace character"
            >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!--The container with a welcome title and some information-->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome!</h1>
        <p>This site is built using the Spring framework. It gets data from a local SQLite database called "Chinook". The Chinook data model represents a digital media store, including tables for artists, albums, media tracks, invoices and customers.</p>
        <!--<p>
            <a class="btn btn-success btn-lg" href="/customers" role="button">View customers &raquo;</a>
            <a class="btn btn-light btn-lg" href="/add-customers" role="button">Add customer &raquo;</a>
        </p>-->
    </div>
</div>

<!--The cols showing 5 random artists, songs and genres-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Some artists you might know...</h2>
           <!-- <h6 th:each="track: ${tracks}" th:text="${track.getName()}"></h6>-->
            <ul class="list-inline">
                <li class="list-inline-item" th:each="artist: ${artists}" th:text="${'&bull; ' + artist.getName()}"></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Some songs you might have heard...</h2>
            <ul class="list-inline">
                <li class="list-inline-item" th:each="track: ${tracks}" th:text="${'&bull; ' + track.getName()}"></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Some genres you might like...</h2>
            <ul class="list-inline">
                <li class="list-inline-item" th:each="genre: ${genres}" th:text="${'&bull; ' + genre.getName()}"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
