<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
    <head>
        <meta charset="UTF-8">
        <title>Search - myTunes</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                    <!--This input uses required and pattern to validate user input. The required makes
                    it mandatory to enter something, and the pattern makes it so that you have to
                    enter at least one non-whitespace character. The title is added to provide the
                    user feedback on what needs to be changed if they get an error-->
                    <input
                            class="form-control mr-sm-2"
                            name="term"
                            type="text"
                            placeholder="Search"
                            aria-label="Search"
                            required
                            pattern=".*\S+.*"
                            title="Must contain at least one non-whitespace character"
                    >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container">
                <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
                    <h1 class="display-3" th:text="${'Search results for &quot;' + term + '&quot;'}"></h1>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <h4>Track</h4>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h4>Album</h4>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h4>Artist</h4>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h4>Genre</h4>
                    </div>
                </div>
                <div class="row" th:each="track: ${trackInfos}">
                    <div class="col-sm-3 text-center" th:text="${track.get(0)}"></div>
                    <div class="col-sm-3 text-center" th:text="${track.get(1)}"></div>
                    <div class="col-sm-3 text-center" th:text="${track.get(2)}"></div>
                    <div class="col-sm-3 text-center" th:text="${track.get(3)}"></div>
                </div>
            </div>
        </div>
    </body>
</html>